html
{
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Georgia,serif;
}
html, body{
	overflow-x:hidden;
}
.current{
	background-color: #000531;
	color: #fff;

}
.white-text{
	color: #fff !important;
}
.side {
	border-bottom: 1px solid LightGrey;
	padding: 7px 0 7px 0;
}
.nav-top{
	font-size: 20px;
}
.side {
	font-size: 16px;
	color: rgb(199,21,133);
	font-weight: bold;
	font-family: sans-serif;
}
.well{
	border-radius: 0;
}
.index-head{
	color: rgb(	0,191,255);
	font-weight: bold;
}
.side:hover{
	background-color: skyblue;
	padding-left: 1rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.sidelink {
	text-decoration: none !important;
}
.sidelink .side{
	-webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
